<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
    @{
        var StringList = new List<string>
        {
            "Apple Pie",
            "Burritos",
            "Clams Casino",
            "Donuts"
        };

        foreach(string word in StringList)
        {
            <div>
                @if(word[0] == 'C') // c# considers single quotes around a single character to be Char, not String.
                {
                    <h3 style="color:red">@word</h3>
                } else
                {
                    <h3>@word</h3>
                }
            </div>
        }
    }
    

</body>
</html>